<% if user_signed_in? %>
  <p><%= current_user.email %></p>
  <%= link_to 'Sign out', destroy_user_session_url, method: 'delete' %>
<% else %>
  <%= link_to 'Sign in', new_user_session_url %>
<% end %>
<%= image_tag @photo_url %>
<p><a href="<%= Woodlock.site_url %>"><%= Woodlock.site_url %></a></p>
<h3>Omniauth services:</h3>
<ul>
  <% Woodlock.omniauth_services.each do |service| %>
    <li><%= service %></li>
  <% end %>
</ul>
<p><%= Woodlock.site_email %></p>
