<h2>Dummy Home</h2>
<p>Email: <%= current_user.email %></p>
<p>First name: <%= current_user.first_name %></p>
<p>Last name: <%= current_user.last_name %></p>
<p>Full name: <%= current_user.full_name %></p>
<p>Github username: <%= current_user.github_username %></p>
<p>Photo url image:</p>
<%= image_tag current_user.photo_url, size: "50x50" %>
<p>Facebook photo url: <%= current_user.facebook_photo_url %></p>
<p>Google photo url: <%= current_user.google_photo_url %></p>
<p>Github photo url: <%= current_user.github_photo_url %></p>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>
