<div class="row">
  <div class="col-sm-12 col-md-4 col-md-offset-4">
    <div class="well well-lg well-opacity">
      <%= image_tag '/woodlock-logo.png', size: '300x48', class: 'auth-logo' %>
        <% if Woodlock.authentication_services %>
          <div class="btn-group display-block m-bottom-15px" role="group">
            <% Woodlock.authentication_services.each do |service| %>
              <% next if service == 'site' %>
              <div class="width-100per">
                <% service == 'google' ? service_name = 'google_oauth2' : service_name = service %>
                <%= button_to t("devise.sign_in_with_#{service}"), omniauth_authorize_path(resource_name, service_name), class: 'btn btn-primary btn-lg btn-block m-top-15px' %>
              </div>
            <% end %>
          </div>
          <% if Woodlock.authentication_services.include?('password') %>
            <%= render 'sign_with_password' %>
          <% end %>
        <% else %>
          <div class="btn-group display-block m-bottom-15px" role="group">
            <% ['facebook','google'].each do |service| %>
              <% service == 'google' ? service_name = 'google_oauth2' : service_name = service %>
              <div class="width-100per">
                <%= button_to t("devise.sign_in_with_#{service}"), omniauth_authorize_path(resource_name, service_name), class: 'btn btn-primary btn-lg btn-block m-top-15px' %>
              </div>
            <% end %>
          </div>
          <%= render 'sign_with_site' %>
        <% end %>
      </div>

      <ul class='breadcrumb'>
        <% if Woodlock.authentication_services.nil? || (Woodlock.authentication_services && Woodlock.authentication_services.include?('site')) %>
          <li><%= link_to t('devise.sign_up'), new_user_registration_path %></li>
          <li><%= link_to t('devise.forgot_password'), new_password_path %></li>
        <% end %>
        <li><%= link_to t('devise.go_back'), root_path %></li>
      </ul>
    </div>
  </div>
</div>

