<p><%= t 'devise.hello' %> <%= @resource.first_name %>!</p>

<p><%= t 'devise.confirmation_instructions_message' %></p>

<p><%= link_to t('devise.confirmation_link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t 'devise.ignore_email_message_1' %></p>
<p><%= t 'devise.ignore_email_message_2' %></p>
